.logo {
  pointer-events: all;
}

#gallery {
  height: 140vmax;
  width: 140vmax;  
  position: absolute;
}

.tile {
  border-radius: 1vmax;
  position: absolute;
  transition: transform 800ms ease;

  background-color: #F7CAE1;
}

.tile:hover {
  transform: scale(1.1);
}

.tile:hover  img {
  opacity: 1;
  transform: scale(1.01);
  filter: grayscale(0%) blur(0);
  mix-blend-mode: normal;
}

.tile  img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1vmax;
  opacity: 0.5;
  transition: all 800ms ease;

  filter: grayscale(100%) contrast(1);
  mix-blend-mode: multiply;
}

.tile:nth-child(1) {
  /* background-color: rgb(255, 238, 88); */
  height: 15%;
  left: 64%;
  top: 40%;
}

.tile:nth-child(2) {
  /* background-color: rgb(66, 165, 245); */
  width: 16%;
  left: 24%;
  top: 12%;
}

.tile:nth-child(3) { 
  /* background-color: rgb(239, 83, 80); */
  height: 15%;
  left: 10%;
  top: 39%;
}

.tile:nth-child(4) {
  /* background-color: rgb(102, 187, 106); */
  height: 15%;
  left: 60%;
  top: 68%;
}

.tile:nth-child(5) {
  /* background-color: rgb(171, 71, 188); */
  height: 15%;
  left: 18%;
  top: 65%;
}

.tile:nth-child(6) { 
  /* background-color: rgb(255, 167, 38); */
  height: 15%;
  left: 58%;
  top: 10%;
}


@media only screen and (max-width: 1000px) {
  #gallery {
    height: 100vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 767px) {

  #gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: auto;
  }

  .tile {
    position: relative;
  }

  .tile:hover {
    transform: scale(1.03);
  }
  
  .tile  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1vmax;
    opacity: 1;
    transition: all 800ms ease;
  
    filter: grayscale(0%) blur(0) contrast(1);
    mix-blend-mode: normal;
  }

  .tile:nth-child(1) {
    /* background-color: rgb(255, 238, 88); */
    height: 40%;
    width: 90%;
    left: auto;
    top: auto;
  }
  
  .tile:nth-child(2) {
    /* background-color: rgb(66, 165, 245); */
    height: 40%;
    width: 90%;
    left: auto;
    top: auto;
  }
  
  .tile:nth-child(3) {
    /* background-color: rgb(239, 83, 80); */
    height: 40%;
    width: 90%;
    left: auto;
    top: auto;
  }
  
  .tile:nth-child(4) {
    /* background-color: rgb(102, 187, 106); */
    display: none;
    height: 40%;
    width: 90%;
    left: auto;
    top: auto;
  }
  
  .tile:nth-child(5) {
    /* background-color: rgb(171, 71, 188); */
    height: 40%;
    width: 90%;
    left: auto;
    top: auto;
  }
  
  .tile:nth-child(6) {
    /* background-color: rgb(255, 167, 38); */
    height: 40%;
    width: 90%;
    left: auto;
    top: auto;
  }
  
  .tile:nth-child(7) {
    /* background-color: rgb(63, 81, 181); */
    height: 40%;
    width: 90%;
    left: auto;
    top: auto;
  }
  
  .tile:nth-child(8) {
    /* background-color: rgb(141, 110, 99); */
    height: 40%;
    width: 90%;
    left: auto;
    top: auto;
  }
  
  .tile:nth-child(9) {
    /* background-color: rgb(250, 250, 250); */
    height: 40%;
    width: 90%;
    left: auto;
    top: auto;
  }
}
