body {
  background-color: rgb(255, 255, 255);
  height: 100vh;  
  margin: 0px;
  overflow: hidden;
  background-color:#F7CAE1;
}

.mid_section {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate (-50%, -0%);
  transform: translate(-50%, -0%);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  pointer-events: none;
}

.bottom_rec {
  height: 100px;
  width: 100px;
  background-color: green;
}

.logo {
  margin: 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  width: 400px;
  pointer-events: none;
}

.navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  height: 0px;
  transition: height 0.3s ease;
}

.navlinks a {
  font-family: 'Syne', sans-serif;
  font-size: 50px;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
  pointer-events: all;
}

.infos {
  position: fixed;
  bottom: 50px;
  left: 50px;
  pointer-events: none;
}

.infos p {
  margin: 0;
}

.details {
  font-size: 30px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 20px;
}

.title {
  font-family: 'Syne', sans-serif;
  font-size: 100px;
  margin-bottom: 0;
}

#gallery {
  height: 140vmax;
  width: 140vmax;  
  position: absolute;
}

.tile {
  border-radius: 1vmax;
  position: absolute;
  transition: transform 800ms ease;

  background-color: #F7CAE1;
}

.tile:hover {
  transform: scale(1.1);
}

.tile:hover  img {
  opacity: 1;
  transform: scale(1.01);
  filter: grayscale(0%) blur(0);
  mix-blend-mode: normal;
}

.tile  img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1vmax;
  opacity: 0.5;
  transition: all 800ms ease;

  filter: grayscale(100%) contrast(1);
  mix-blend-mode: multiply;
}

.tile:nth-child(1) {
  /* background-color: rgb(255, 238, 88); */
  height: 14%;
  width: 20%;
  left: 5%;
  top: 5%;
}

.tile:nth-child(2) {
  /* background-color: rgb(66, 165, 245); */
  height: 24%;
  width: 14%;
  left: 42%;
  top: 12%;
}

.tile:nth-child(3) {
  /* background-color: rgb(239, 83, 80); */
  height: 18%;
  width: 16%;
  left: 12%;
  top: 34%;
}

.tile:nth-child(4) {
  /* background-color: rgb(102, 187, 106); */
  display: none;
  height: 14%;
  width: 12%;
  left: 45%;
  top: 48%;
}

.tile:nth-child(5) {
  /* background-color: rgb(171, 71, 188); */
  height: 16%;
  width: 32%;
  left: 8%;
  top: 70%;
}

.tile:nth-child(6) {
  /* background-color: rgb(255, 167, 38); */
  height: 24%;
  width: 24%;
  left: 68%;
  top: 8%;
}

.tile:nth-child(7) {
  /* background-color: rgb(63, 81, 181); */
  height: 16%;
  width: 20%;
  left: 60%;
  top: 74%;
}

.tile:nth-child(8) {
  /* background-color: rgb(141, 110, 99); */
  height: 24%;
  width: 18%;
  left: 72%;
  top: 42%;
}

.tile:nth-child(9) {
  /* background-color: rgb(250, 250, 250); */
  height: 10%;
  width: 8%;
  left: 84%;
  top: 84%;
}




/*Unterseite Styling */
.titlebox {
  display: flex;
  margin: 50px;
  gap: 50px;
}

.titlebox img {
  flex: 1;
  border-radius: 1vmax;
  height: 92vh;
  object-fit: cover;
}

.titlebox .description {
  flex: 1;
}


/*MENU TOGGLE*/

.menu_container {
	display: flex;
	align-items: center;
	justify-content: center;
  height: 50px;
  width: 50px;
  pointer-events: all;
}

.menu-icon {
  position: relative;
  width: 3em;
  height: 2.25em;
  display: inline-block;
}
.menu-icon span {
  position: absolute;
  height: 0.1875em;
  width: 100%;
  background-color: #363636;
  transition: all 250ms ease-in-out;
  transform: rotate(0deg);
}
.menu-icon span:nth-child(1) {
  top: 0.09375em;
}
.menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
  top: 0.9375em;
}
.menu-icon span:nth-child(4) {
  top: 1.875em;
}
.menu-button:hover span, .menu-button:focus span, .menu-button:active span {
  background: black;
}
.menu-icon.is-active span:nth-child(1), .menu-icon.is-active span:nth-child(4) {
  opacity: 0;
}
.menu-icon.is-active span:nth-child(2) {
  transform: rotate(45deg);
}
.menu-icon.is-active span:nth-child(3) {
  top: 0.9375em;
  transform: rotate(-45deg);
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}