body {
  background-color: rgb(255, 255, 255);
  height: 100vh;  
  margin: 0px;
  overflow: hidden;
  background-color:#F7CAE1;
}

.mid_section {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate (-50%, -0%);
  transform: translate(-50%, -0%);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  pointer-events: none;
  z-index: 99;
}

.logo {
  margin: 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  width: 400px;
  pointer-events: none;
}

.navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  height: 0px;
  transition: height 0.3s ease;
}

.navlinks a {
  font-family: 'Syne', sans-serif;
  font-size: 50px;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
  pointer-events: all;
}

.infos {
  position: fixed;
  bottom: 50px;
  left: 50px;
  pointer-events: none;
  z-index: 99;
}

.details {
  font-size: 30px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 20px;
}

.details p {
  margin: 0;
}

.title {
  font-family: 'Syne', sans-serif;
  font-size: 100px;
  margin-bottom: 0;
}


/*Unterseite Styling */
.titlebox {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 50px;
  width: 100vw;
  box-sizing: border-box;
}

.titlebox img {
  flex: 1;
  border-radius: 1vmax;
  height: 92vh;
  object-fit: cover;
}

.titlebox .description {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.titlebox  a {
  height:fit-content;
  font-size: 30px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: end;
}

.titlebox a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.titlebox .title {
  font-size: clamp(40px, 5vw, 100px);
  margin-top: 0;
  margin-left: 15px;
}

.authors {
  margin-left: 20px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 20px;
  width: 50%;
}


/*MENU TOGGLE*/

.menu_container {
	display: flex;
	align-items: center;
	justify-content: center;
  height: 50px;
  width: 50px;
  pointer-events: all;
}

.menu-icon {
  position: relative;
  width: 3em;
  height: 2.25em;
  display: inline-block;
}
.menu-icon span {
  position: absolute;
  height: 0.1875em;
  width: 100%;
  background-color: #363636;
  transition: all 250ms ease-in-out;
  transform: rotate(0deg);
}
.menu-icon span:nth-child(1) {
  top: 0.09375em;
}
.menu-icon span:nth-child(2), .menu-icon span:nth-child(3) {
  top: 0.9375em;
}
.menu-icon span:nth-child(4) {
  top: 1.875em;
}
.menu-button:hover span, .menu-button:focus span, .menu-button:active span {
  background: black;
}
.menu-icon.is-active span:nth-child(1), .menu-icon.is-active span:nth-child(4) {
  opacity: 0;
}
.menu-icon.is-active span:nth-child(2) {
  transform: rotate(45deg);
}
.menu-icon.is-active span:nth-child(3) {
  top: 0.9375em;
  transform: rotate(-45deg);
}

/* MOUSE TRAIL CANVAS */
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 1200px) {
  .details {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    height: auto;
    overflow: auto;
  }

  .mid_section {
    position: relative;
    width: 100vw;
    height: auto;
    margin-bottom: 30px;
  }

  .navlinks a {
    font-size: 25px;
  }

  .infos {
    position: relative;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .details {
    text-align: center; /* Optional: Center the text within .details */
    margin-left: 0px;
  }
}

@media only screen and (max-width: 420px) {

  .logo {
    width: 80%;
  }

}